[program:geoserver]
command = /usr/local/geoserver/bin/startup.sh
autostart = true
autorestart = true
redirect_stderr = true
environment=JAVA_HOME="/usr/lib/jvm/java-7-oracle",GEOSERVER_HOME="/usr/local/geoserver"