[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=vagrant
Group=www-data
WorkingDirectory={{ django_dir }}
ExecStart=/usr/local/bin/gunicorn \
     --access-logfile - \
     --workers 3 \
     --bind unix:{{ socket_dir }}/{{ project_name }}.sock \
    {{ project_name }}.wsgi:application

[Install]
WantedBy=multi-user.target