server {
    listen 80;
    listen [::]:80;

    server_name localhost 127.0.0.1 0.0.0.0;

    location = /favicon.ico {
        access_log off;
        log_not_found off;
    }

    location /static/ {
        root {{ django_dir }};
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/run/gunicorn.sock;
    }
}