---

- name: set locale to {{locale}}
  action: command /usr/sbin/update-locale LANG={{locale}} LC_ALL={{locale}}
  sudo: yes

- name: install required system packages.
  action: apt pkg={{item}} state=installed install_recommends=yes update-cache=yes
  sudo: yes
  with_items:
      - apt-file
      - build-essential
      - python-setuptools
      - python-pip
      - virtualenvwrapper
      - supervisor
      - python-apt
      - python-pycurl
      - python-software-properties
      - python-virtualenv
      - python-dev
      - vim
      - libpq-dev
      - supervisor
      - postgresql-9.3
      - postgresql-9.3-postgis-2.1
      - python-psycopg2
      - git
      - gdal-bin

- name: do upgrades to newly installed packages
  action: apt upgrade=yes
  sudo: yes

# - name: Download spf13 vim install script
#   command: curl http://j.mp/spf13-vim3 -L -o /vagrant/{{ spf13_output_file_name }}
#   when: spf13fileexists is not defined
#   register: spf13fileexists
#
# - name: launch spf13 install script
#   command: sh /vagrant/{{ spf13_output_file_name }}
#   sudo: yes
#   register: spf13installed
#   when: spf13installed is not defined


